<!DOCTYPE html>
<html>
<head>
    <script src="https://use.fontawesome.com/39fb458ee6.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
</head>
<body class="">
    <!-- Image and text -->
    <!--Navbar-->
    <nav class="navbar navbar-light purple lighten-4 ">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Navbar</a>


        <!-- Collapse button -->
        <button class="navbar-toggler toggler-example purple darken-3 d-md-none d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent41">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <!-- Links -->


        </div>
        <!-- Collapsible content -->
        @Html.Partial("_LoginPartial")
    </nav>
    <!--/.Navbar-->

    <div class="card">
        <div class="card-body bg-dark">

            @RenderBody()
        </div>
    </div>








    @Scripts.Render("~/bundles/jquery")
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
